@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap')
	;

body {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Noto Sans KR', sans-serif;
}

nav {
	display: inline-block;
	flex-direction: row;
	position: fixed;
	width: 100%;
	height: 90px;
	border-bottom: 1px solid #e5e5e5;
	width: 100%;
	background: white;
	z-index: 1;
}

.logo {
	margin-left: 40px;
	margin-top: 7px;
	width: 180px;
	height: 70px;
}

ul {
	display: flex;
	flex-direction: row;
	position: absolute;
	list-style: none;
	right: 40px;
	top: 30px;
}

li>a {
	margin-left: 20px;
	margin-top: 20px;
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
	color: black;
}

li>a:hover {
	text-decoration: underline 2px;
	transition: all 0.3s;
	transition-timing-function: ease
}

.active {
	color: rgb(000, 000, 153);
	font-weight: 600;
	cursor: pointer;
}

.bodyContainer {
	background: white;
	margin-top: 120px;
	margin-bottom: 100px;
	align-self: center;
}

.darkContainer {
	background: #eeeeee;
}

.boardInsertFormWrap {
	width: 800px;
	height: 920px;
	border: 1px solid #e5e5e5;
	margin-bottom: 100px;
}

button {
	cursor: pointer;
}

h1 {
	text-align: center;
}

.inputWrap {
	width: 610px;
	height: 650px;
	margin: 0px auto;
}

.subjectInput {
	width: 400px;
	height: 30px;
	outline: none;
}

.textarea {
	width: 600px;
	height: 500px;
	outline: none;
}

.fileRadioWrap {
	width: 610px;
	height: 110px;
	margin: 5px auto;
}

.fileRadioBox {
	display: flex;
	flex-direction: row;
	width: 610px;
	height: 40px;
	justify-content: space-between;
}

.radioWrap {
	width: 160px;
	height: 20px;
}

.submitButtonBox {
	width: 200px;
	height: 50px;
	margin: 1px auto;
}

.submitButton {
	width: 200px;
	height: 50px;
	border-radius: 6px;
	border: 1px solid #e5e5e5;
	background: black;
	color: white;
	cursor: pointer;
}

.submitButton:hover {
	background: tomato;
	transition: all 0.3s;
	transition-timing-function: ease;
}

.listButton {
	width: 200px;
	height: 50px;
	border-radius: 6px;
	border: 1px solid #e5e5e5;
	background: white;
	color: black;
	cursor: pointer;
}

.listButton:hover {
	background: #e5e5e5;
	transition: all 0.3s;
	transition-timing-function: ease;
}

.updateButtonBox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 430px;
	height: 50px;
	margin: 1px auto;
}

.posts {
	display: flex;
	flex-direction: column;
	align-self: center;
	width: 900px;
	height: 1000px;
}

.post {
	display: flex;
	width: 800px;
	height: 200px;
	margin: 20px auto;
	text-align: center;
	align-self: center;
	cursor: pointer;
}

.thumbnail-wrapper {
	width: 200px;
	height: 200px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.thumbnail {
	position: relative;
	padding-top: 100%;
	overflow: hidden;
}

.thumbnail-centered {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: translate(50%, 50%);
}

.thumbnail-img {
	/*   max-width: 100%; */
	/*   height: 박스의 height와 같아야 한다. */
	transform: translate(-50%, -50%);
}

.write {
	display: flex;
	flex-direction: column;
	width: 600px;
	height: 200px;
	text-align: left;
	margin-left: 10px;
	font-family: 'Noto Sans KR', sans-serif;
}

.write:hover {
	opacity: 0.8;
	transition: all 0.3s;
	transition-timing-function: ease;
	transition: all 0.3s;
}

.counter {
	margin: 30px auto;
}

.writeButtonBox {
	margin-top: 20px;
	margin-left: 750px;
}

.wirteButton {
	width: 110px;
	height: 40px;
	border-radius: 25px;
	border: 1px solid #e5e5e5;
	background: black;
	color: white;
	cursor: pointer;
}

.wirteButton:hover {
	background: tomato;
	transition: all 0.3s;
	transition-timing-function: ease;
}

.bNamedateBox {
	width: 550px;
	height: 30px;
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 5px;
}

.bCntBox {
	width: 550px;
	height: 90px;
	margin-top: 5px;
	margin-left: 5px;
	font-family: 'Noto Sans KR', sans-serif;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	height: 3em;
	line-height: 1.5;
	text-align: left;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.bIdViewBox {
	width: 550px;
	height: 20px;
	margin-top: 30px;
	margin-left: 5px;
	font-size: 5px;
	font-family: 'Noto Sans KR', sans-serif;
}

.ReadButton {
	width: 100px;
	height: 40px;
	border-radius: 6px;
	background: rgb(255, 051, 051);
	color: white;
	cursor: pointer;
	margin-left: 5px;
	margin-top: 20px;
	border-style: none;
}

.detailImg {
	max-width: 100%;
	height: auto;
}

.num {
	background: white;
	border: 1px solid #e5e5e5;
}

.num:hover {
	background: #e5e5e5;
	transition: all 0.3s;
	transition-timing-function: ease;
}

#detailView {
	margin-bottom: 20px;
	font-size: 15px;
	color: #333333;
}

#detailCnt {
	width: 610px;
	margin-top: 40px;
	margin-bottom: 50px;
	white-space: pre-wrap;
}

.nomalButton {
	width: 80px;
	height: 30px;
	border-radius: 10px;
	background: white;
	border: 1px solid #e5e5e5;
	cursor: pointer;
}

.prettyButton {
	width: 100px;
	height: 30px;
	border-radius: 10px;
	background: black;
	color: white;
	border: 1px solid #e5e5e5;
	cursor: pointer;
}

.prettyButton:hover {
	background: #518d7d;
	transition: all 0.3s;
	transition-timing-function: ease;
}

.deleteForm {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 100px auto;
	border: 1px solid #e5e5e5;
	width: 450px;
	height: 300px;
	text-align: center;
	border-radius: 5px;
}